.image-to-show {
    width: 500px;
    height: 500px;
  }
  .image-to-show {
    width: 700px;
    height: 500px;
  }
  
  .images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .btn-wrapper {
    display: flex;
    justify-content: center;
    margin: 18px;
   color:antiquewhite;
  }
  
  .timer {
    color: #ffffff;
    font-size: 50px;
    margin: 0 auto;
  }
  
  .show {
    display: inline-block;
    animation: 0.3s linear fadein, 0.3s linear 0.5s fadeout;
  }
  
  .hidden {
    display: none;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeout {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  